*{
    margin:0;
    box-sizing: border-box
}

:root{
    --mainclr: rgb(50,20,225)
}    

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: rgba(73, 203, 255, 0.84);
}

main{
    grid-column: 1/1;
    grid-row: 1/1;
    justify-self: center;
    align-self: center;
    width: 1fr;
    background-color: bisque;
}

#skelet{
    grid-column: 1/1;
    grid-row: 1/1;
    width: 50%;
}